.issues-list {
  .issue {
    padding: 10px $gl-padding;
    position: relative;

    .title {
      margin-bottom: 2px;
    }

    .issue-check {
      float: left;
      padding-right: 8px;
      margin-bottom: 10px;
      min-width: 15px;
    }

    .issue-labels {
      display: inline-block;
    }

    .issue-no-comments {
      opacity: 0.5;
    }
  }
}

.check-all-holder {
  line-height: 36px;
  float: left;
  margin-right: 15px;
}

.issues_content {
  .title {
    height: 40px;
  }

  form {
    margin: 0;
  }
}

form.edit-issue {
  margin: 0;
}

.merge-requests-title, .related-branches-title {
  font-size: 16px;
  font-weight: 600;
}

.merge-request-id {
  display: inline-block;
  width: 3em;
}

.merge-request-status {
  color: $gl-gray;
  font-size: 15px;
  font-weight: bold;
}

.merge-request,
.issue {
  &.today {
    background: #f3fff2;
    border-color: #e1e8d5;
  }

  &.closed {
    background: #f9f9f9;
    border-color: #e5e5e5;
  }

  &.merged {
    background: #f9f9f9;
    border-color: #e5e5e5;
  }
}

.merge-request-ci-status {
  svg {
    margin-right: 4px;
    position: relative;
    top: 1px;
  }
}

@media (max-width: $screen-xs-max) {
  .issue-btn-group {
    width: 100%;

    .btn {
      width: 100%;
    }
  }
}

.issue-form .select2-container {
  width: 250px !important;
}

.issues-footer {
  padding-top: $gl-padding;
  padding-bottom: 37px;
}

.issue-email-modal-btn {
  padding: 0;
  color: $gl-link-color;
  background-color: transparent;
  border: 0;
  outline: 0;

  &:hover {
    text-decoration: underline;
  }
}

.email-modal-input-group {
  margin-bottom: 10px;

  .form-control {
    background-color: $white-light;
  }

  .btn {
    background-color: $background-color;
    border: 1px solid $border-gray-light;
  }
}

.issue-asset {
  display: inline-block;
  margin: .25rem;
  padding: .5rem;
  border: 1px solid #eee;
  border-radius: .25rem;
}

.issue-asset-thumbnail {
  display: block;
  max-width: 120px;
  max-height: 80px;
}
