%h4 Assets
%small (Click to open in a new window)
%section
  - assets.each do |asset|
    %span.issue-asset
      = link_to asset[:url], :target => '_blank', :title => "Issue asset #{asset[:filename]}" do
        = image_tag asset[:url], :class => 'issue-asset-thumbnail'
        %br
        = icon('paperclip')
        = asset[:filename]
